.container {
    margin-bottom: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#buttonPesquisar, #buttonApagar {
    margin-left: 15px;
    margin-bottom: 10px;
}

.tab-content {
    overflow-x: auto; 
}

.table {
    width: 100%; 
}

.textArea {
    width: 80px;
    height: 25px;
    transition: width 0.3s, height 0.3s;
    box-sizing: border-box;
}

.textArea.expanded {
    width: 130px;
    height: 35px;
}

#pesquisa {
    padding-left: 5px;
    width: 450px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(154, 154, 154);
}
